<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>David Salihu</h1>
        <h3>Books I've Read</h3>
        <p><b>This page will constantly update as I read more</b>, so bookmark it if you want to check back in a few months.</p>
            <form action="/sort" method="post">
                <label for="sort">Sorted with my top recommendations up top. Sort by : </label>
                <select name="sort" id="cars">
                  <option value="title">Title</option>
                  <option value="recency">Recency</option>
                  <option value="rating">Rating</option>
                </select>
                <input id="sortButton" type="submit" value="Sort">
            </form>
        <a id="newPostBtn" href="/new">New Post</a>
        <hr>
        <% for(let book of books) { %>
        <div class="book_section">
            <img id="poster" src="<%= book.img %>" />
            <h2 id="title"><%= book.title %></h1>
            <div class="date_rating">
                <p>Date read: <span id="date"><%= book.date %></span>. </p>
                <p>How strongly I recommend it: <span id="rating"><%= book.rating %></span>/10</p>
            </div>
            <p id="review"><%= book.review %></p>
            <form class="item" action="/delete" method="post">
                <button id="editB" type="submit" formaction="/edit" name="edit" value="<%= book.id %>" >Edit</button>
                <button id="delB" type="submit" name="delete" value="<%= book.id %>" >Delete</button>
            </form>
            <hr>
        </div>
        <% } %>
    </div>
</body>
</html>